body{
  margin:0;
  font-family: Arial, Helvetica, sans-serif;
  background:#0B1220;
  color:#ffffff;
}

.container{
  max-width:1100px;
  margin:auto;
  padding:40px 20px;
}

h1{
  font-size:40px;
  margin-bottom:20px;
}

h2{
  font-size:26px;
  margin-bottom:10px;
}

p{
  line-height:1.6;
  color:#cbd5e1;
}

.btn{
  display:inline-block;
  padding:12px 20px;
  background:#38bdf8;
  color:#000;
  text-decoration:none;
  font-weight:bold;
  border-radius:8px;
  margin-top:20px;
}

.section{
  margin-top:60px;
}
